@import "tailwindcss";

@keyframes metal-flow {
  0%,
  100% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 0% 0%;
  }
}

.animate-metal-flow {
  animation: metal-flow 3s ease-in-out infinite;
}

@theme {
  --color-smartRed: #991b1b;
  --color-smartGreen: #14532d;
  --color-smartAccent: #4338ca;
}
@layer components {
  .menu-link {
    @apply flex items-center gap-3 rounded-lg p-2;
    @apply hover:bg-gray-600;
    @apply focus-visible:ring-4 focus-visible:ring-green-700;
    @apply focus-visible:ring-offset-2 focus-visible:ring-offset-gray-800;
    @apply md:justify-start;
  }

  .menu-icon {
    @apply size-12;
  }
  .action-button {
    @apply h-14 w-auto rounded-lg border-2 bg-amber-700 p-4;
    @apply font-bold text-white shadow-md shadow-amber-500;
    @apply hover:bg-smartRed;
    @apply focus-visible:ring-4 focus-visible:ring-green-700;
    @apply focus-visible:ring-offset-2 focus-visible:ring-offset-gray-800;
  }
  .dashboard-card {
    @apply rounded-lg border-2 border-gray-300 bg-gray-800 p-3 shadow-lg shadow-black/50;
  }
  .section-card {
    @apply rounded-lg border border-gray-600 bg-gray-800 p-8 shadow-lg shadow-black/50;
  }
  .panel {
    @apply rounded-lg border border-gray-600 bg-gray-800 shadow-lg shadow-black/50;
  }
}
